/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 100px;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background:
    var(--main-gradient),
    var(--overlay-gradient) center / cover;
  background-color: #fff;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-text-weight);
}

.content-section {
  inline-size: var(--content-section-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block-end: 100px;
  border: var(--element-border);
  padding-block: clamp(122px, 0.75vw + 119.2px, 130px);
  font-family: var(--accent-font), sans-serif;
  font-weight: normal;
  background-color: #fff;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__logo:focus {
  outline: none;
}

.header__heading {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
}

.card {
  border: var(--element-border);
  background-color: #fff;
  inline-size: 100%;
}

.card__heading {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-title-weight);
}

.image-container {
  position: relative;
  border-block: var(--element-border);
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__content-buttons {
  display: flex;
  justify-self: end;
  gap: 12px;
}

.button {
  position: relative;
  border: var(--element-border);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  margin: auto;
  padding-block: 10.5px;
  inline-size: 130px;
}

.save-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 20px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save-btn__icon {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  inline-size: 21px;
  aspect-ratio: 1 / 1;
  mix-blend-mode: difference;
}

.dialog-window {
  border: var(--element-border);
  padding: 30px;
  max-inline-size: 353px;
}

.dialog-window[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog-window[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-window__icon {
  color: var(--accent-color);
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.dialog-window__description {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.close-dialog-btn {
  grid-column: span 2;
  padding-block: 10.5px;
}

.card__image_bright {
  filter: brightness(200%);
}

.card__image_contrast {
  filter: contrast(50%);
}

.card__image_rich {
  filter: saturate(300%);
}

.card__image_hot {
  filter: hue-rotate(-20deg) saturate(1.2) brightness(1.05);
}

.card__image_infared {
  filter: hue-rotate(180deg) saturate(4);
}

.card__image_invert {
  filter: invert(1);
}

.card__image_crazy {
  filter: blur(0.5px) brightness(1.4) contrast(2) hue-rotate(90deg) invert(0.8)
    saturate(4) sepia(0.3);
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  block-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--element-border);
}

@media (width <= 375px) {
  .dialog-window {
    padding-inline: 40px;
    max-inline-size: 341px;
  }

  .save-btn {
    flex-direction: column;
  }

  .save-btn__icon {
    inline-size: 28px;
  }
}
